@mixin reset-indents {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// от 1440px
@mixin viewport--xl {
  @media (min-width: $viewport--xl) {
    @content;
  }
}

// от 1024px до 1439px
@mixin viewport--lg {
  @media (max-width: $viewport--xl - 1) {
    @content;
  }
}

// от 768px до 1023px
@mixin viewport--md {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}

// от 320px до 767px
@mixin viewport--sm {
  @media (max-width: $viewport--md - 1) {
    @content;
  }
}
