// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
//---------------------------------

$color-white: #ffffff;
$color-white-smoke: #f3f3f3;
// $color-whisper: #e5e5e5;
$color-very-light-grey: #cacaca;
$color-black: #000000;
$color-black-pearl: #1f2021;
$color-seagull: #6ebbd3;

// Viewports
//---------------------------------

$viewport--sm: 320px;
$viewport--md: 768px;
$viewport--lg: 1024px;
$viewport--xl: 1440px;
